body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html{
    /* padding: 20px; */
    padding: 0;
    margin: 0;
    background-image: url('images/fon.jpeg'); /* Путь к вашему изображению */  
    background-position: center; /* Центрирует изображение */
 
 }
body {
    font-family: Arial, sans-serif;
}
body {
    position: relative; /* Устанавливаем позиционирование для создания контекста позиционирования для псевдоэлемента */

}
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 300px; /* Устанавливаем высоту для фонового цвета */
    background-color: rgb(4, 4, 5); /* Цвет фонового цвета */
    z-index: -1; /* Помещаем псевдоэлемент под основной контент */
}
header .home {
    font-size: 40px;
    font-weight: bold;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    position: relative; /* Добавляем позиционирование */
    z-index: 999; /* Устанавливаем z-index, чтобы элемент находился выше */
}

header .home a{
    color: rgba(255, 255, 255, 0.5);
}
header .home a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: color 0.3s; 
}

.container {
    width: 100%; /* Ширина контейнера */
    height: 100vh; /* Высота контейнера */
    position: relative; /* Устанавливаем позиционирование для потомков */
}

.form-wrapper {
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    top: 50%; /* Располагаем верхний край на 50% высоты контейнера */
    left: 50%; /* Располагаем левый край на 50% ширины контейнера */
    transform: translate(-50%, -50%); /* Сдвигаем элемент обратно на 50% его собственной ширины и высоты */
    width: 400px; /* Ширина формы */
    padding: 20px; /* Внутренний отступ */
    background-color: #fff; /* Цвет фона */
    border-radius: 5px; /* Скругляем углы */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); /* Тень */
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%; /* Учитываем отступы */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Учитываем padding и border в ширине */
    font-size: 15px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:  #333538;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: #000000;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #252a30;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p.error {
    color: red;
    font-weight: bold;
}
